body{
    background-color: rgb(71, 71, 142);
}
.head{
    font-size:xx-large;
}
.ammount{
    padding:10px;
    width:100%;
    border-radius:4px;
}
.container{
    padding:1rem;
    border-radius: 5px;
    margin-top:100px;
    width: fit-content;
    background-color: white;
}
#from-box{
    /* border:2px solid black; */
    width:5rem;
    padding:2px;
    border-radius:4px;
    margin-right: 5px;
}
#to-box{
    /* border:2px solid black; */
    width:5rem;
    padding:2px;
    border-radius:4px;
    margin-right: 5px;
}
select{
    border: none;
    border-radius:5px;
    padding:10px;
    width:10rem;
}
/* select:active{
    border: white;
    outline: none;
} */
.allbox{
    display: flex;

}
.icon i{
    font-size:25px;
    position: relative;
    top:15px;
    margin-right:1px;
}
.icon i:hover{
    cursor:pointer;
}
.btnn{
    background-color: rgb(42, 42, 146);
    color: white;
    padding:0.5rem;
    width:100%;
    border-radius:5px;
    border: none;
}

